body {
    text-align: center;
}

header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

form {
    font-size: 20px;
    margin-bottom: 40px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

/* #countryStats{
    
}
#regionStats{
    
} */

.grid-item, .table-header{
    border: 1px solid black;
    padding: 10px
}

.table-header{
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

.globalStats div {
    margin: 10px;
}

#error{
    display: none;
    color: red;
}